.anastomosys_login{
    width: 100%;
    height: 100vh;
}
.right_background{
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
}
.left_background{
    background-color: var(--anastomosys_primary);
    clip-path: polygon(0 0, 58% 0, 100% 100%, 0 100%);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.loginSection{
    height: 80vh;
    width: 70%;
    border-radius: 1.5rem;
    background:var(--anastomosys_gradient);
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 14%;
}
.loginSection{
    padding: 2rem;
}
.loginPage_title{
    display: flex;
}
.logoPageLogo{
    margin-right: 1rem;
}
.login_title{
    line-height: 2rem;
}
.login_title h2, p{
    color: var(--anastomosys_primary);
}
.date_handle{
    width: 100%;
}
.continue_btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.continue_btn button{
    background-color: var(--anastomosys_primary);
    width: 15rem;
    color: white;
    cursor: pointer;
}
#create_form .ant-input{
    height: 80px;
}
.formIllusTration img{
    width: 24%;
    float: right;
}
.formIllusTration{
    position: absolute;
    width: 100%;
    top: 58%;
    /* left: 70%; */
    z-index: 2;
    padding-right: 2rem;

}
.userImg{
   display: flex;
   justify-content: center;
   align-items: center;

}
.user_imf_icon{
    width: 4rem;
    height: 4rem;
    background-color: whitesmoke;
    border-radius: 50%;
    margin-top: -4rem;
    margin-bottom: 1.5rem;
    
    text-align: center;
}
.camera_icon {
    font-size: 3rem;
    color: var(--anastomosys_primary);
    margin-top: 8px;
    cursor: pointer;
}
.userImg input{
   visibility: hidden;
}
.create_form{
    padding: 0 4.5rem;
    margin-top: 1.5rem;
}
.loginPage_titles{
    display: flex;
}
.login_title{
    margin-top: 0;
}